.speaker-speaker {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.speaker-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
.speaker-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.speaker-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.speaker-deails {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-name {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.speaker-name1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.speaker-checkbox {
  left: 200px;
  bottom: 56px;
  position: absolute;
}








.speaker-root-class-name8 {
  max-width: 320px;
}













































































@media(max-width: 991px) {
  .speaker-name {
    font-size: 20px;
  }
  .speaker-name1 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .speaker-speaker {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .speaker-name {
    font-size: 14px;
  }
  .speaker-name1 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .speaker-container {
    position: relative;
  }
  .speaker-checkbox {
    right: 0px;
    width: auto;
    bottom: 2px;
    position: absolute;
  }
}
